{%extends 'cbase.html'%}

{%block body_block%}

 <div class="row">
        <div class="col-6">
            <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        vehicle Management
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          {%csrf_token%}
          <div>
              <a href="{%url 'adduser'%}">AddUser</a>
          </div>
          <div>
              <a href="{%url 'adddevice'%}">AddDevice</a>
          </div>
          <div>
              <a href="">AllocateDevice</a>
          </div>


      </div>
    </div>
        </div>
        <div class="col-6"></div>
    </div>

{%endblock%}